body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton, .lineUpButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  /* width: 300px;
  height: 300px; */
  position:absolute;
}
.dancer2{
  width: 183px;
  height: 350px;
  position:absolute;
  /* background-image: url("https://mbtskoudsalg.com/images/dancer-transparent-animated-gif-4.gif"); */
  background-color: Transparent;
  border: none;
}
.dancer2:hover {
  visibility: hidden;
}
.dancer3{
  position:absolute;
  height: 497px;
  width: 350px;
  background-image: url("https://i.gifer.com/7Uz.gif");
}
/* .dancer3:hover {
  float: right;
} */